@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');
/* This
is
a comment
*/

/* CSS Syntax

selectors {
(as many properties and values as you like and end with a "semi-colon")
  property: value;
  property: value;
}
*/

/*Type selector*/
/* GLOBAL STYLES */
p {/*wil select all "p" elements*/
  font-size: 16px;
  line-height: 1.5em;
}

figcaption{
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family:'Clicker Script', cursive;
  color: #777;
  text-align: right;
}

/*figcaption{
  font: normal 0.75em/1.5em, Georgia, "New Times Roman", serif;
}*/

/*Class selector (applied to as many elements as you like)*/
.milk-text {/*select elements with class="milk-text")*/
  font: bold 2.6em, "Elie Swash Caps", cursive;
  color: white;
  text-shadow: 0 2px 3px #000;
  }

  /*ID selector (apply to one unique element per page)*/
/*#logo {/*select elements with id="logo*/
.shadow {
  box-shadow: 0 3px 10px #333;
}

.border-right {
  border-right: 1px dotted #ccc;
  padding-right: 30px;
}

/* BACKGROUNDS */

.white-wood {
  background: url(../images/white-wood.jpg) no-repeat center top;
  background-size: cover;
}
.light-fade {
  background: #f2f5f6; /* Old browsers */
  background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */
}

.medium-fade {
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.dark-fade {
  background: #b5bdc8; /* Old browsers */
  background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}

/*Descendent Selector*/
#logo {
  padding: 74px 0 0;
}

#logo h1{/*selects <h1> if they're inside the id="logo"*/
display: inline-block;
  width: 45px;
  height: 45px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  background: url(../images/exceptional-logo.png) no-repeat;
  background-size: 100% 100%;
}

#logo h2 {
  display: inline-block;
  font: 2.5em "Clicker Script", cursive;
  margin: 0;
  position: relative;
  top: -9px;
  left: 5px;
  color: #303;
}

/*pseudo-class selectors*/

/*    DETAILS */

#details {
  border-top: 1px solid white;
}

#details a:link, #details a:visited {
  color: black;
  text-decoration: none;
}

#details a:hover{
  color: black;
  text-decoration: underline;
}

#details a:active{
  color: red;
}

/* FOOTER */

footer {
  text-align: center;
  font-size: 0.75em;
  padding: 10px;
  background: #eee;
  border-top: 1px solid #ccc;
}




/* MEDIA*/

img, video, audio {
  max-width: 100%;
}

/* STYLE SOME LAYOUT */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper{
  width: 960px;
  margin: 0 auto;
}

.col-1 {
  float: left;
  width: 32%;
}


.col-2 {
  float: left;
  width: 66%;

}


.col-3 p {
-moz-column-rule: 1px dotted #ccc;
-webkit-column-rule: 1px dotted #ccc;
column-rule: 1px dotted #ccc;
-moz-column-gap: 1.5em;
-webkit-column-gap: 1.5em;
column-gap: 1.5em;
-moz-column-count: 3;
-webkit-column-count: 3;
column-count: 3;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

[class*="col-"] {
  margin-left: 2%;
}

.first {
  margin-left: 0%;
}

/* SECTIONS */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1;
}


section {
  padding: 20px;
  margin-bottom: 20px;
  background: white;
}

/* SOCIAL SECTION */

#social {
  position: fixed;
  top: 200px;
  right: 20px;
  width: 40px;
  z-index: 1;
}

#social a {
  display: block;
  width: 40px;
  height: 40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

a.fbook, a.twit, a.gplus {
  background: url(..images/social-icons.png) no-repeat;
}

a.fbook { background-position: 0 0; }
a.fbook:hover { background-position: -40px 0; }
a.fbook:active { background-position: -80px 0; }

a.twit { background-position: 0 -40px; }
a.twit:hover { background-position: -40px -40px; }
a.twit:active { background-position: -80px -40px; }

a.gplus { background-position: 0 -80px; }
a.gplus:hover { background-position: -40px -80px; }
a.gplus:active { background-position: -80px -80px; }


/* HEADER */
header {
  margin: 0 0 30px;
}

/* NAVBAR */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

#navbar nav {
  border-left: 1px solid #ccc;
}

#navbar nav a {
  display: inline-block;
  width:16.666667%;
  margin: 0;
  padding: 22px 0;
  text-transform: uppercase;
  color: black;
  text-align: center;
  border-right: 1px solid #ccc;
  text-decoration: none;
  font: 1em "Trebuchet MS", Arial, sans-serif;
}

#navbar nav a.selected {
  background: #333;
  color: white;
}

#navbar nav a:hover {
  color: white;
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(71,71,71,1) 28%, rgba(81,81,81,1) 35%, rgba(71,71,71,1) 72%, rgba(43,43,43,1) 87%, rgba(28,28,28,1) 91%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(28%,rgba(71,71,71,1)), color-stop(35%,rgba(81,81,81,1)), color-stop(72%,rgba(71,71,71,1)), color-stop(87%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(71,71,71,1) 28%,rgba(81,81,81,1) 35%,rgba(71,71,71,1) 72%,rgba(43,43,43,1) 87%,rgba(28,28,28,1) 91%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(71,71,71,1) 28%,rgba(81,81,81,1) 35%,rgba(71,71,71,1) 72%,rgba(43,43,43,1) 87%,rgba(28,28,28,1) 91%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(71,71,71,1) 28%,rgba(81,81,81,1) 35%,rgba(71,71,71,1) 72%,rgba(43,43,43,1) 87%,rgba(28,28,28,1) 91%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(71,71,71,1) 28%,rgba(81,81,81,1) 35%,rgba(71,71,71,1) 72%,rgba(43,43,43,1) 87%,rgba(28,28,28,1) 91%,rgba(0,0,0,1) 100%); /* W3C */
  }

#navbar nav a.menu-icon {
  display: none;
}
